@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-depaak {
  object-fit: contain;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-image: url('/img/depaaktest.webp'); */
}

.depaak-title {
  position: relative;
  top: -50%;
  bottom: -50%;
}

@media screen and (min-width: 570px) {
  .bg-depaak {
    /* background-image: url('/img/depaaktest.webp'); */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
